
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

nav{
    border-bottom: 2px solid #282E2A;
    padding: 16px;
    background-color: #9cc5a1;
}

#nav-links {
    color: #282E2A;
}

body {
    font-family: "Nunito", sans-serif;
    color: #282E2A;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #49a078;
}

h2 {
    color: #282E2A;
}

main {
    padding: 16px;
}

a {
    color: #216869;
    text-decoration: none;
    transition: transform 0.2s;
    display:block;
}

a:hover {
    transform: translate(2px,1px);
    text-shadow: 0.5px 0.5px #49a078;
    color: #216869;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

img {
    height: 200px;
}

tr:nth-child(even) {
    background-color: #dce1de;
}

footer {
    padding: 24px 16px 24px 16px;
    background-color: #282E2A;
    color: white;
}
